<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 p-5 rounded">
        <% if flash[:error]%>
            <div id="flash-error" class="alert alert-danger p-2 mt-2" role="alert" style="font-size: 13px;">
                <%= flash[:error]%>
            </div>
            <script>
                setTimeout(function() {
                document.getElementById('flash-error').style.display = 'none';
                }, 3000);
            </script>
        <% end %>
        <div class="d-flex flex-column w-100 mt-3 p-4 rounded" style="font-size: 13px; background-color: #d9dcd6;">
            <h4 class="text-uppercase">Login</h4>
            <div class="d-flex" style="margin-top: -5px;">
                <p style="margin-bottom: 20px; font-size: 13px;">Don't have an account?
                    <%= link_to new_user_path do %>
                        <p style="margin-bottom: 0; margin-left: 3px;" class="link-tag">Sign Up</p>
                    <% end %>
                </p>
            </div>
            <%= form_with model: @user, url: login_path, method: :post, local: true do |form| %>
                <div class="field">
                    <%= form.label :username, 
                        class: 'mb-0' 
                    %>
                    <%= form.text_field :username, 
                        placeholder: 'Enter username', 
                        class: 'form-control border-0 mb-3', 
                        style: 'font-size: 13px;', 
                        required: true 
                    %>
                </div>
                <div class="field">
                    <%= form.label :password %>
                    <%= form.password_field :password, 
                        placeholder: 'Enter password', 
                        class: 'form-control border-0 mb-3', 
                        style: 'font-size: 13px;', 
                        required: true 
                    %>
                </div>

                <div class="actions d-flex flex-column">
                    <%= form.submit 'Login', 
                        class: 'btn btn-primary my-2', 
                        style: 'font-size: 13px;' 
                    %>
                </div>
            <% end %>
        </div>
    </div>
</div>